useDynLib(MBBEFDLite, .registration = TRUE)

# Imports
importFrom(stats,
           optimize,
           integrate)
# Exports
export(dmb,
       pmb,
       qmb,
       rmb,
       ecmb,
       mommb)
